In [3]:
import numpy as np
import pandas as pd

In [4]:
# Task-1 pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
df = pd.DataFrame(np.random.randn(4, 4))
print(df)

          0         1         2         3
0 -0.156567  0.994519  0.447663 -1.366143
1  0.320103 -0.216588  1.627619 -1.062755
2 -0.430991 -1.539269 -0.971739 -1.549116
3  0.663524  1.239232 -1.103195  0.842708

In [7]:
# Task-2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0       -0.156567        0.994519        0.447663       -1.366143
1        0.320103       -0.216588        1.627619       -1.062755
2       -0.430991       -1.539269       -0.971739       -1.549116
3        0.663524        1.239232       -1.103195        0.842708

In [9]:
# Task-3 Find the descriptive statistics of the 'df' dataframe.
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.099017        0.119474        0.000087       -0.783826
std          0.487777        1.275922        1.292396        1.102751
min         -0.430991       -1.539269       -1.103195       -1.549116
25%         -0.225173       -0.547258       -1.004603       -1.411886
50%          0.081768        0.388966       -0.262038       -1.214449
75%          0.405959        1.055697        0.742652       -0.586389
max          0.663524        1.239232        1.627619        0.842708

In [11]:
# Including ALL
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.099017        0.119474        0.000087       -0.783826
std          0.487777        1.275922        1.292396        1.102751
min         -0.430991       -1.539269       -1.103195       -1.549116
25%         -0.225173       -0.547258       -1.004603       -1.411886
50%          0.081768        0.388966       -0.262038       -1.214449
75%          0.405959        1.055697        0.742652       -0.586389
max          0.663524        1.239232        1.627619        0.842708

In [15]:
# Task-4 a) Check for the null values in 'df'
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [16]:
# b) find the data type of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [18]:
# Task-5 Display the 'Random value 2' & 'Random value 3' columns  location method 
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.994519        0.447663
1       -0.216588        1.627619
2       -1.539269       -0.971739
3        1.239232       -1.103195

In [19]:
# index location method.
df.iloc[:, [1, 2]]

   Random value 2  Random value 3
0        0.994519        0.447663
1       -0.216588        1.627619
2       -1.539269       -0.971739
3        1.239232       -1.103195

In [ ]:
#end - 20MIS0321