In [283]:
#20MIS0321 Assignment 2

In [284]:
import numpy as np
import pandas as pd
import matplotlib as plt
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [285]:
# reading the dataset from a csv file and storing in a variable

df = pd.read_csv('drug200.csv')

In [286]:
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [287]:
# checking for null values if any

print(df.isnull().sum())

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [288]:
# there is no null values so we can go to next step
# no columns to drop as all are valid data

In [289]:
# splitting the data set and performing one hot encoding 
x = dataset.drop(columns = ['Drug'],axis=1)
y = dataset['Drug']

In [290]:
x = pd.get_dummies(x,columns=['Sex','BP','Cholesterol'],drop_first = True)

le = LabelEncoder()
y = le.fit_transform(y)

In [291]:
x_train, x_test, y_train, y_test = train_test_split (x,y,test_size=0.3,random_state=2)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((140, 6), (60, 6), (140,), (60,))

In [292]:
# Now we are performing feature scaling 

sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

y_train = keras.utils.to_categorical(y_train)
y_test = keras.utils.to_categorical(y_test)

In [293]:
# Model ---

model = Sequential()

# input layer
model.add(Dense(48, input_dim=6, activation='relu'))

# hidden layers (3)
model.add(Dense(36, activation='relu'))
model.add(Dense(24, activation='relu'))
model.add(Dense(12, activation='relu'))

# output layer
output_layer = Dense(5,activation='softmax')
model.add(output_layer)

In [294]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_56"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_248 (Dense)           (None, 48)                336

 dense_249 (Dense)           (None, 36)                1764

 dense_250 (Dense)           (None, 24)                888

 dense_251 (Dense)           (None, 12)                300

 dense_252 (Dense)           (None, 5)                 65

=================================================================
Total params: 3,353
Trainable params: 3,353
Non-trainable params: 0
_________________________________________________________________

In [299]:
model.fit(x_train, y_train, epochs=10, batch_size=6, validation_data=(x_test, y_test))

Epoch 1/10
24/24 [==============================] - 0s 2ms/step - loss: 1.5275e-04 - accuracy: 1.0000 - val_loss: 0.6293 - val_accuracy: 0.8667
Epoch 2/10
24/24 [==============================] - 0s 1ms/step - loss: 1.4826e-04 - accuracy: 1.0000 - val_loss: 0.6081 - val_accuracy: 0.8667
Epoch 3/10
24/24 [==============================] - 0s 894us/step - loss: 1.4912e-04 - accuracy: 1.0000 - val_loss: 0.6119 - val_accuracy: 0.8667
Epoch 4/10
24/24 [==============================] - 0s 838us/step - loss: 1.4239e-04 - accuracy: 1.0000 - val_loss: 0.6073 - val_accuracy: 0.8667
Epoch 5/10
24/24 [==============================] - 0s 866us/step - loss: 1.4166e-04 - accuracy: 1.0000 - val_loss: 0.6157 - val_accuracy: 0.8667
Epoch 6/10
24/24 [==============================] - 0s 890us/step - loss: 1.3306e-04 - accuracy: 1.0000 - val_loss: 0.6226 - val_accuracy: 0.8667
Epoch 7/10
24/24 [==============================] - 0s 846us/step - loss: 1.3371e-04 - accuracy: 1.0000 - val_loss: 0.6283 - val_accuracy: 0.8667
Epoch 8/10
24/24 [==============================] - 0s 829us/step - loss: 1.2821e-04 - accuracy: 1.0000 - val_loss: 0.6233 - val_accuracy: 0.8667
Epoch 9/10
24/24 [==============================] - 0s 854us/step - loss: 1.3032e-04 - accuracy: 1.0000 - val_loss: 0.6185 - val_accuracy: 0.8667
Epoch 10/10
24/24 [==============================] - 0s 831us/step - loss: 1.2227e-04 - accuracy: 1.0000 - val_loss: 0.5986 - val_accuracy: 0.8667

In [313]:
# testing model 

test_loss, test_acc = model.evaluate(x_test, y_test)
test_acc * 100

2/2 [==============================] - 0s 2ms/step - loss: 0.5986 - accuracy: 0.8667

86.66666746139526

In [ ]:
# end - 20MIS0321 --